.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    opacity: 1;
    
  }
  
  .menu li {        
    float: right;
  }

  .menu #title {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu li a:hover {
    background-color: lightgray;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 100;
  }

  .attendance, .agenda, .ideas, .av {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    border-radius: 15px;
    
  }

#attendance_content, #agenda_content, #ideas_content, #av_content {
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,222,255,1) 0%, rgba(0,212,255,1) 100%);
    color: black
}
