/* navbar */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5cm;
    opacity: 95%;   
  }
  
  .menu ul > li {        
    float: right;
  }

  .menu #title {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 4mm 16px;
    text-decoration: none;
  }

  .menu li a:hover {
    background-color: lightgray;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 100;
  }

  /* content containers */
  .attendance, .agenda, .ideas, .av, .image {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(130%);    
    border-width: 1px;
    border-color: #fff;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
  }

#attendance_content, #agenda_content, #ideas_content, #av_content {
    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
}

/* header styling */
h3 {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

#agenda_content {
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-grow: 1;   
    column-gap: 4ch;
}

img ~ p {
    color: grey;
    padding-left: 50px;
    display: inline-block;
}

img + p {
    font-weight: bold;
}

/* auto scroll to section */
.anchor {
    position: absolute;
    transform: translateY(-10vh);
  }

img{
    border-radius: 15px;
    height: auto;
    width: 90%;
    margin: 10px 10% 10px 3%
    
}

.grid_container {
    display: grid;
    row-gap: 5px;
    justify-content: center;
}


          
* {
    font-weight: bold;
}

@font-face {
    font-family: myFirstFont;
    src: url(screenshots/Lato/25090817022.ttf);
}

a:active {
    background-color: hsl(0, 0%, 100%);
  }
  
p[title] {
    color: navy
}

@media screen and (max-width: 200px) {
    p[title] {
        color: white
    }
}

h3.header_attendance {
    font-style: normal;
}

body {
    font-family: myFirstFont;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,130,130,1) 0%, rgba(126,181,255,1) 100%);
    color: rgb(62, 62, 62)
    
}

html {
    scroll-behavior: smooth;
}

footer {
    margin: auto
}

